<section id="community">
  <!-- This component is responsible for displaying social media icons and redirecting to a new window where users can join -->

  <div
    class="flex flex-col items-center justify-center space-y-6 bg-gray-900 px-4 sm:flex-row sm:space-x-6 sm:space-y-0 pb-10"
  >
    <div
      class="w-full max-w-sm overflow-hidden rounded-lg bg-gray-700 shadow-md duration-300 hover:scale-105 hover:shadow-xl my-8"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-brand-telegram mx-auto mt-8 h-16 w-16 text-cyan-700"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path></svg
      >
      <h1 class="mt-2 text-center text-2xl font-bold text-gray-100">
        TELEGRAM
      </h1>
      <p class="my-4 text-center text-sm text-gray-300 px-4">
        Join us, and together, we'll unlock a world where smiles are the
        currency of success. Be a part of our journey, where every milestone is
        a shared celebration. With $SMILEK, it's not just about individual
        achievements; it's about collective triumphs. Let's create those smiles,
        one success at a time.
      </p>
      <div class="space-x-4 bg-gray-700 py-4 text-center">
        <a href="https://t.me/+9qvOurhMLbY4ODMx" target="_blank">
          <button
            class="bg-white text-black hover:bg-yellow-500 hover:text-black py-2 px-6 rounded-full text-sm font-bold"
          >
            JOIN
          </button>
        </a>
      </div>
    </div>
    <div
      class="w-full max-w-sm overflow-hidden rounded-lg bg-gray-700 shadow-md duration-300 hover:scale-105 hover:shadow-xl my-8"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x mx-auto mt-8 h-16 w-16 text-white"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M4 4l11.733 16h4.267l-11.733 -16z"></path><path
          d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path></svg
      >
      <h1 class="mt-2 text-center text-2xl font-bold text-gray-100">
        TWITTER/ X
      </h1>
      <p class="my-4 text-center text-sm text-gray-300 px-4">
        Join us, and together, we'll unlock a world where smiles are the
        currency of success. Be a part of our journey, where every milestone is
        a shared celebration. With $SMILEK, it's not just about individual
        achievements; it's about collective triumphs. Let's create those smiles,
        one success at a time.
      </p>
      <div class="space-x-4 bg-gray-700 py-4 text-center">
        <a href="https://x.com/SmileKtothebank" target="_blank">
          <button
            class="bg-white text-black hover:bg-yellow-500 hover:text-black py-2 px-6 rounded-full text-sm font-bold"
          >
            JOIN
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
