---
import Layout from "../layouts/Layout.astro";
import Main from "../layouts/Index/Main.astro";
import Des from "../layouts/Index/Description.astro";
import Road from "../layouts/Index/Roadmap.astro";
import Social from "../layouts/Index/SocialMedia.astro";
import Token from "../layouts/Index/TokenData.astro";
import List from "../layouts/Index/List.astro";
---

<Layout title="SMILEK">
  <main>
    <Main />
    <Des
      Data={[
        {
          number: "1",
          img: "img/person2.webp",
          title: "The $SMILEK Era: Revolutionizing Crypto for the Digital Age",
          description:
            "Welcome to the $SMILEK era! Since launch, we've been the crypto crusade the digital age demanded, championing key finance values like decentralization & fund individualization.",
        },
        {
          number: "2",
          img: "img/person3.webp",
          title: "The $SMILEK Era: Revolutionizing Crypto for the Digital Age",
          description:
            "Welcome to the $SMILEK era! Since launch, we've been the crypto crusade the digital age demanded, championing key finance values like decentralization & fund individualization.",
        },
        {
          number: "1",
          img: "img/person4 .webp",
          title: "The $SMILEK Era: Revolutionizing Crypto for the Digital Age",
          description:
            "Welcome to the $SMILEK era! Since launch, we've been the crypto crusade the digital age demanded, championing key finance values like decentralization & fund individualization.",
        },
      ]}
    />
    <Social />
    <Token />
    <Road />
    <List
      DataList={[
        {
          img: "img/jupiter.webp",
          ExchaneName: "Jupiter",
          par: "SMILEK/SOL",
        },
        {
          img: "img/raydium.webp",
          ExchaneName: "Raydium",
          par: "SMILEK/SOL",
        },
      ]}
    />
  </main>
</Layout>

<style>
  body {
    background-color: black;
  }
</style>
