---
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="img/smile.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"
    ></script>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <script>
      import ScrollReveal from "scrollreveal";
      const scrollRevea = ScrollReveal();

      scrollRevea.reveal(".first", {
        duration: 2000,
        scale: 0.85,
        distance: "90 px",
        origin: "bottom",
        easing: "ease-out",
      });

      scrollRevea.reveal(".efect", {
        origin: "top",
        distance: "85px",
        duration: 2500,
        reset: false,
      });
    </script>
  </body>
</html>
